
<h1>
{
text-aign: center;
font-family: arial;

}

articles{
  background-color:skyblue;
  width: 300px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
  
}

    
  
